/*

!.gitignore
!citation.cff
# !results-and-analysis/*
!README.md

!/testing
/testing/__pycache__/*

!/base
/base/__pycache__/*

!/algorithms
/algorithms/__pycache__/*

!/preprocessing
/preprocessing/__pycache__/*
/preprocessing/infinitelabels/__pycache__/*
/preprocessing/layeredmazes/__pycache__/*
/preprocessing/strategyfinding/__pycache__/*
/preprocessing/trapfinding/__pycache__/*
/preprocessing/winningcores/__pycache__/*


