/*

!.gitignore
# !results-and-analysis/*
!README.md

!/testing
/testing/__pycache__/*

!/base
/base/__pycache__/*

!/algorithms
/algorithms/__pycache__/*

!/preprocessing
/preprocessing/__pycache__/*


